################################################################################
# .gitignore file for my bachelor thesis 
################################################################################

/dualshock2/dualshock2.*
!/dualshock2/dualshock2.xpr
!/dualshock2/dualshock2.srcs
/dualshock2/.stignore
/dualshock2/.stfolder/
